body {
    background: rgb(29, 29, 29) !important;
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.5;
}

:root {
    --bg-color:             rgb(29, 29, 29);
    --primary-color:        #03A9F4;
    --secondary-color:      #d8ae17;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --project-bg:           #f0f8ff;
    --menu-bg:              #03A9F4;

    --title-color:          #15141a;
    --gray-color:           #909090;
    --link-color:           #404040;
    --p-color:              #666262;

    --base-font-family:     'Plain-Light', sans-serif;
    --title-font-family:    'Plain-Regular', sans-serif;
    --font-bold-family:     'Plain-Bold', sans-serif;
    --font-weight-bold:     bold;

    --h1-font-size:         42px;
    --h2-font-size:         32px;
    --h3-font-size:         24px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       14px;

    --border-radius-large:  100px;
    --border-radius-small:  5px;
  }

.text-Yellow{
    color: var(--secondary-color);
}

.list-avt {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
  }

.list-avt li {
    display: inline-block;
    list-style: none;
}

.list-avt li div {
    list-style: none;
}

.box_img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.img_circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: 0.5s;
}

.img_circle:hover{
    transition-duration: 2000;
    transform:  rotate(360deg) scale(1.3);
}

.link{
    color: var(--white-color);
}

.link:hover{
    color: var(--secondary-color);
    text-decoration: none;
}

.homepage{
    font-weight: 500;
    margin-left: 10px;
    height: auto;
    border-radius: 2rem;
    background: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px;
    transition: 1s;
    animation: fadee 2s;

}

@keyframes fadee {
    0%   {bottom: 0px; filter: opacity(0); }
    100% {bottom: 100px; filter: opacity(100); }
  }

.homepage:hover{
    background-color: var(--secondary-color);
    color: var(--bg-color);
    text-decoration: none;
}

